# MTK project .rc configure

import init.mt6761.usb.rc

on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root

on post-fs-data

#ExtB IRM-6055,20191028,modify init factoryreset_date
#DeviceActivation
    chown system system /sys/devices/proinfo/factoryreset_date
    chmod 0664 /sys/devices/proinfo/factoryreset_date

#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

    chmod 0660 /dev/spm
    chown system system /dev/spm

#For sar-sensor
    #Allow access to sar sensors device attributes
    chown system system /sys/class/sensors/capsense_bottom/enable
    chown system system /sys/class/sensors/capsense_bottom/poll_delay
    chown system system /sys/class/sensors/capsense_bottom/enable_wakeup
    chmod 0660 /sys/class/sensors/capsense_bottom/enable
    chmod 0660 /sys/class/sensors/capsense_bottom/poll_delay
    chmod 0660 /sys/class/sensors/capsense_bottom/enable_wakeup

    chown system system /sys/class/sensors/capsense_top/enable
    chown system system /sys/class/sensors/capsense_top/poll_delay
    chown system system /sys/class/sensors/capsense_top/enable_wakeup
    chmod 0660 /sys/class/sensors/capsense_top/enable
    chmod 0660 /sys/class/sensors/capsense_top/poll_delay
    chmod 0660  /sys/class/sensors/capsense_top/enable_wakeup

    chown system system  /dev/input/event2
    chmod 0660 /dev/input/event2
    chown system system  /dev/input/event3
    chmod 0660 /dev/input/event3

on init
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target doesn't support sd hot-plugging (Ex: the SD card slot in a battery compartment), we need to export SECONDARY_STORAGE in 'boot' section
    #
    # export SECONDARY_STORAGE /storage/sdcard1

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled

service spm_script /vendor/bin/spm_loader
    user system
    group system
    class core
    oneshot

#bug438047,zhaodonghong.wt,add,20190723,start
service check_keymaster /vendor/bin/check_keymaster
    class core
    user system
    group system
    oneshot
    disabled
    seclabel u:r:check_keymaster:s0

on property:sys.boot_completed=1
    start check_keymaster
#bug438047,zhaodonghong.wt,add,20190723,end

#Bug 524253, wangguanyu.wt, add, 20191223, update syslong firmware start
service mmc_ffu_ss1 /vendor/bin/mmc_ffu do /vendor/bin/longsys_ffu.bin /dev/block/mmcblk0 88 20208 20006
    class main
    user root
    group root system
    oneshot
#Bug 524253, wangguanyu.wt, add, 20191223, update syslong firmware end
